{% extends "navbar.html" %} {% block content %}

<!-- Header Start -->
<div class="container-fluid page-header" style="margin-bottom: 90px;">
    <div class="container">
        <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
            <h3 class="display-4 text-white text-uppercase">Courses</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">Courses</p>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- Category Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">faculty</h5>
            <h1>Explore Top faculty</h1>
        </div>
        <div class="row">
            {% for st in home_depview %}
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="../../static/design/img/cat-1.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" >
                        <h4 class="text-white font-weight-medium">{{st.dept_name}}</h4>
                    </a>
                    
                </div>
                
            </div>
            {% endfor %}
            </div>
    </div>
</div>
<!-- Category end-->


<!-- Courses Start -->
<!-- Courses Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Courses</h5>
            <h1> Our Courses Include </h1>
        </div>
        <div class="row">
            {% for sc in courses %}
            <div class="col-lg-3 col-md-4 mb-3">
                <div class="rounded overflow-hidden mb-2">
                    
                    <div class="bg-secondary p-4">

                        <a class="h5" href="">{{sc.course_name}}</a>

                    </div>
                </div>
            </div>
            {% endfor %}
           
            
        </div>
    </div>
</div>
</div>
</div>

<!-- Courses End -->
{% endblock %}