<!-- Preloader
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="../../static/design/images/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
        </div> -->

<!-- Navbar -->

<!-- /.navbar -->

<!-- Main Sidebar Container -->
{% extends "base.html" %}
<!-- Content Wrapper. Contains page content -->
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Teachers</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Teachers</a></li>
                        <li class="breadcrumb-item active">Add New teachers</li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->



    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Teacher add</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
                        </div>
                    </div>

                    <div class="card-body">

                        <form method="post">
                            {% csrf_token %}
                            <fieldset>


                                <div class="tabcontent" id="new">
                                    {{ form.as_p }}

                                </div>
                                <div class="form-group">
                                    <label for="inputName">User:</label>
                                    <input type="text" id="inputName" class="form-control">
                                </div>
                                <div class="form-group ">
                                    <label for="inputStatus ">Department:</label>
                                    <select id="inputStatus " class="form-control custom-select ">
                          <option selected disabled>Select one</option>
                          <option>Civil Engineering</option>
                          <option>Computer engineering</option>
                        </select>
                                </div>
                                <div class="form-group ">
                                    <label for="inputStatus ">Sex:</label>
                                    <select id="inputStatus " class="form-control custom-select ">
                          <option selected disabled>Select one</option>
                          <option>Male</option>
                          <option>Female</option>
                        </select>
                                </div>
                                <div class="form-group">
                                    <label for="birthday">Date of Birth:</label>
                                    <input type="date" id="birthday" name="birthday">
                                </div>



                            </fieldset>
                            <div class="row ">
                                <div class="col-12 ">
                                    <a href="{% url 'addteacher' %}" class="btn btn-secondary ">Cancel</a>
                                    <input type="submit" value="Submit" onclick="InsertCourse();" class="btn btn-success float-right">
                                </div>
                            </div>


                    </div>
                </div>
            </div>


        </div>




        </form>

    </section>
    <!-- /.content -->


    <aside class="control-sidebar control-sidebar-dark ">
        <!-- Control sidebar content goes here -->
    </aside>

</div>


<!-- /.content-wrapper -->
<footer class="main-footer ">
    <strong>Copyright  <a href="add-teacher.html">Hamro academy</a>.</strong> All rights reserved.
    <div class="float-right d-none d-sm-inline-block ">
    </div>
</footer>
</script>
<!-- ./wrapper -->
<script class="jsbin " src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js "></script>
<!-- jQuery -->
<script src="../../static/js/jquery.min.js "></script>
<!-- jQuery UI 1.11.4 -->
<script src="../../static/js/jquery-ui.min.js "></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="../../static/js/bootstrap.bundle.min.js "></script>
<script src="../../static/js/toastr.js "></script>
{% endblock %}

<!-- Control Sidebar -->