{% extends "base.html" %} {% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Department</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Department</a></li>
                        <li class="breadcrumb-item active">Add New Department</li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->



    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Department add Form
                        </h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="inputName">Department ID</label>
                            <input type="text" id="inputName" class="form-control">
                        </div>
                        <div class="form-group ">
                            <label for="inputStatus ">Department</label>
                            <select id="inputStatus " class="form-control custom-select ">
                                 <option selected disabled>Select one</option>
                                 <option>Computer Department</option>
                                <option>Civil Department</option>
                                <option>Electrical and communication Department</option>
                                </select>
                        </div>
                        <div class="form-group ">
                            <label for="inputcourse ">Course</label>
                            <select name="test[]" size="5" multiple class="form-control">
                                        <option selected disabled>Select subjects</option>
                                        <option>Economics
                                        <option>Digital signal analysis and processing
                                        <option>Social and professional issues in IT
                                    </select>
                        </div>
                        <div class="form-group ">
                            <label for="inputStatus ">Subject teacher name</label>
                            <select id="inputStatus " class="form-control custom-select ">
                  <option selected disabled>Select one</option>
                  <option>Ram</option>
                  <option>Kishor</option>
                  <option>Maheshwor</option>
                </select>
                        </div>

                        <div class="form-group ">
                            <label for="inputStatus ">Head Of Department</label>
                            <select id="inputStatus " class="form-control custom-select ">
                  <option selected disabled>Select one</option>
                  <option>Ram</option>
                  <option>Kishor</option>
                  <option>Maheshwor</option>
                </select>
                        </div>
                        <div class="form-group ">
                            <label for="appt">Meeting time</label>
                            <input type="time" id="appt" name="appt" class="form-control">
                        </div>


                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>


        </div>
        <div class="row ">
            <div class="col-12 ">
                <a href="# " class="btn btn-secondary ">Cancel</a>
                <input type="submit " value="submit " class="btn btn-success float-right ">
            </div>
        </div>
    </section>
    <!-- /.content -->




</div>


<!-- /.content-wrapper -->
<footer class="main-footer ">
    <strong>Copyright  <a href="add-teacher.html">Hamro academy</a>.</strong> All rights reserved.
    <div class="float-right d-none d-sm-inline-block ">
    </div>
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark ">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<script type="text/javascript ">
    function readURL(input) {
        if (input.files && input.files[0]) {

            var reader = new FileReader();

            reader.onload = function(e) {
                $('.image-upload-wrap').hide();

                $('.file-upload-image').attr('src', e.target.result);
                $('.file-upload-content').show();

                $('.image-title').html(input.files[0].name);
            };

            reader.readAsDataURL(input.files[0]);

        } else {
            removeUpload();
        }
    }

    function removeUpload() {
        $('.file-upload-input').replaceWith($('.file-upload-input').clone());
        $('.file-upload-content').hide();
        $('.image-upload-wrap').show();
    }
    $('.image-upload-wrap').bind('dragover', function() {
        $('.image-upload-wrap').addClass('image-dropping');
    });
    $('.image-upload-wrap').bind('dragleave', function() {
        $('.image-upload-wrap').removeClass('image-dropping');
    });
</script>
{% endblock %}