{% extends "base.html" %} {% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Department</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Department</a></li>
                        <li class="breadcrumb-item active">Add New Department</li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="Allpost">
                <div class="flexcreate">
                    <div>
                        <a href="adddepartment.html" class="btn btn-primary">Add Department</a>
                    </div>
                    <div>
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                </div>
                <div class="postable TBL">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Department ID</th>
                                <th>Department</th>
                                <th>Course</th>
                                <th>Subject Teacher name</th>
                                <th>Head of Department</th>
                                <th>Meeting Time</th>

                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="checkbox" name="">
                                </td>
                                <td>300</td>
                                <td>Computer department</td>
                                <td>Economics</td>
                                <td>Kishor</td>
                                <td>Kishor</td>
                                <td>3:00</td>
                                <td>
                                    <button type="button" class="btn btn-danger" title="Edit">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                                    <button type="button" class="btn btn-danger" title="Delete">
                  <i class="far fa-trash-alt"></i>
                </button>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="">
                                </td>
                                <td>300</td>
                                <td>Computer department</td>
                                <td>Economics</td>
                                <td>Kishor</td>
                                <td>Kishor</td>
                                <td>3:00</td>
                                <td>
                                    <button type="button" class="btn btn-danger" title="Edit">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                                    <button type="button" class="btn btn-danger" title="Delete">
                  <i class="far fa-trash-alt"></i>
                </button>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="">
                                </td>
                                <td>300</td>
                                <td>Computer department</td>
                                <td>Economics</td>
                                <td>Kishor</td>
                                <td>Kishor</td>
                                <td>3:00</td>
                                <td>
                                    <button type="button" class="btn btn-danger" title="Edit">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                                    <button type="button" class="btn btn-danger" title="Delete">
                  <i class="far fa-trash-alt"></i>
                </button>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="">
                                </td>
                                <td>300</td>
                                <td>Computer department</td>
                                <td>Economics</td>
                                <td>Kishor</td>
                                <td>Kishor</td>
                                <td>3:00</td>
                                <td>
                                    <button type="button" class="btn btn-danger" title="Edit">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                                    <button type="button" class="btn btn-danger" title="Delete">
                  <i class="far fa-trash-alt"></i>
                </button>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="">
                                </td>
                                <td>300</td>
                                <td>Computer department</td>
                                <td>Economics</td>
                                <td>Kishor</td>
                                <td>Kishor</td>
                                <td>3:00</td>
                                <td>
                                    <button type="button" class="btn btn-danger" title="Edit">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                                    <button type="button" class="btn btn-danger" title="Delete">
                  <i class="far fa-trash-alt"></i>
                </button>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="">
                                </td>
                                <td>300</td>
                                <td>Computer department</td>
                                <td>Economics</td>
                                <td>Kishor</td>
                                <td>Kishor</td>
                                <td>3:00</td>
                                <td>
                                    <button type="button" class="btn btn-danger" title="Edit">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                                    <button type="button" class="btn btn-danger" title="Delete">
                  <i class="far fa-trash-alt"></i>
                </button>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="">
                                </td>
                                <td>300</td>
                                <td>Computer department</td>
                                <td>Economics</td>
                                <td>Kishor</td>
                                <td>Kishor</td>
                                <td>3:00</td>
                                <td>
                                    <button type="button" class="btn btn-danger" title="Edit">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                                    <button type="button" class="btn btn-danger" title="Delete">
                  <i class="far fa-trash-alt"></i>
                </button>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="">
                                </td>
                                <td>300</td>
                                <td>Computer department</td>
                                <td>Economics</td>
                                <td>Kishor</td>
                                <td>Kishor</td>
                                <td>3:00</td>
                                <td>
                                    <button type="button" class="btn btn-danger" title="Edit">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                                    <button type="button" class="btn btn-danger" title="Delete">
                  <i class="far fa-trash-alt"></i>
                </button>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="">
                                </td>
                                <td>300</td>
                                <td>Computer department</td>
                                <td>Economics</td>
                                <td>Kishor</td>
                                <td>Kishor</td>
                                <td>3:00</td>
                                <td>
                                    <button type="button" class="btn btn-danger" title="Edit">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                                    <button type="button" class="btn btn-danger" title="Delete">
                  <i class="far fa-trash-alt"></i>
                </button>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="">
                                </td>
                                <td>300</td>
                                <td>Computer department</td>
                                <td>Economics</td>
                                <td>Kishor</td>
                                <td>Kishor</td>
                                <td>3:00</td>
                                <td>
                                    <button type="button" class="btn btn-danger" title="Edit">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                                    <button type="button" class="btn btn-danger" title="Delete">
                  <i class="far fa-trash-alt"></i>
                </button>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="">
                                </td>
                                <td>300</td>
                                <td>Computer department</td>
                                <td>Economics</td>
                                <td>Kishor</td>
                                <td>Kishor</td>
                                <td>3:00</td>
                                <td>
                                    <button type="button" class="btn btn-danger" title="Edit">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                                    <button type="button" class="btn btn-danger" title="Delete">
                  <i class="far fa-trash-alt"></i>
                </button>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="">
                                </td>
                                <td>300</td>
                                <td>Computer department</td>
                                <td>Economics</td>
                                <td>Kishor</td>
                                <td>Kishor</td>
                                <td>3:00</td>
                                <td>
                                    <button type="button" class="btn btn-danger" title="Edit">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                                    <button type="button" class="btn btn-danger" title="Delete">
                  <i class="far fa-trash-alt"></i>
                </button>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->


</div>
<!-- /.content-wrapper -->
<footer class="main-footer ">
    <strong>Copyright  <a href="add-teacher.html">Hamro academy</a>.</strong> All rights reserved.
    <div class="float-right d-none d-sm-inline-block ">
    </div>
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark ">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<script type="text/javascript ">
    function readURL(input) {
        if (input.files && input.files[0]) {

            var reader = new FileReader();

            reader.onload = function(e) {
                $('.image-upload-wrap').hide();

                $('.file-upload-image').attr('src', e.target.result);
                $('.file-upload-content').show();

                $('.image-title').html(input.files[0].name);
            };

            reader.readAsDataURL(input.files[0]);

        } else {
            removeUpload();
        }
    }

    function removeUpload() {
        $('.file-upload-input').replaceWith($('.file-upload-input').clone());
        $('.file-upload-content').hide();
        $('.image-upload-wrap').show();
    }
    $('.image-upload-wrap').bind('dragover', function() {
        $('.image-upload-wrap').addClass('image-dropping');
    });
    $('.image-upload-wrap').bind('dragleave', function() {
        $('.image-upload-wrap').removeClass('image-dropping');
    });
</script>
{% endblock %}