{% extends "base.html" %} {% block content %}

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Update form
                        </h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %} {{ form.as_p }}
                            <input type="submit" class="btn btn-success float-right" value="update">


                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>


    </section>
</div>



{% endblock %}